@using MVCcoreWebAppHTD1.Models
@model studentdatamodel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <section class="h-10 bg-dark">
        <div class="container py-5 h-10">
            <div class="row d-flex justify-content-center align-items-center h-10">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-mg-6 d-none d-mg-block">
                             
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                                    <h3 class="mb-5 text-uppercase">Student registration form</h3>

                                    <div class="row">
                                        <div class="col-md-6 mb-6">
                                            <div class="form-outline">
                                                     <label>RollNo<span class="text-danger">*</span></label>
                                               @Html.TextBoxFor(model => model.Rollno, new { @class = "form-control", placeholder="Enter RollNo" })
                                               @Html.ValidationMessageFor(model => model.Rollno, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-6">
                                            <div class="form-outline">
                                                     <label>Name<span class="text-danger">*</span></label>
                                                  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder="Enter Name" })
                                                  @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                              </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-6">
                                            <div class="form-outline">
                                                     <label>EmailId<span class="text-danger">*</span></label>
                                                 @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", placeholder="Enter Emailid" })
                                             @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                             </div>
                                        </div>
                                        <div class="col-md-6 mb-6">
                                            <div class="form-outline">
                                                     <label>Password<span class="text-danger">*</span></label>
                                                @Html.PasswordFor(model => model.Password , new { @class = "form-control", placeholder="Enter password" })
                                                  @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                             <label>Mobile<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder="Enter Mobile" })
                                          @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                  
                                <label>Gender<span class="text-danger">*</span></label>
                                @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male-true"  })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                @Html.Label("male-true", "Male")
                                @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female-true"})
                                @Html.Label("female-true", "Female")

                                    </div>
                                    <div class="form-outline mb-4">
                                             <label>DOB<span class="text-danger">*</span></label>
                                         @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Name"} })
                                           @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-outline mb-4">
                                             <label>Fees<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", placeholder="Enter Fees" })
                                          @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
                                    </div>

                                  
                                    <div class="row">
                                         <div class="mb-4 col-md-6">

                                        <label>Branch<span class="text-danger">*</span></label>
                                        @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(model => model.Branch, new List<SelectListItem> 
                                 
                                            {
            
                                        new SelectListItem { Text="CSE",Value="CSE"},
                                        new SelectListItem { Text="EEE",Value="EEE"},
                                        new SelectListItem { Text="Mech",Value="Mech"},
                                        new SelectListItem { Text="IT",Value="IT"},
                                        new SelectListItem { Text="Civil",Value="Civil"},
                                        }, new { @class = "form-control" })
                                      </div>
                                      </div>

                                          <div class="mb-4 col-md-6">
                                      <label>Status<span class="text-danger">*</span></label>
                                     @* @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })*@
                                      @Html.DropDownListFor(model => model.status, new List<SelectListItem> {
                                      new SelectListItem { Text="Active",Value="True"},
                                      new SelectListItem { Text="InActive",Value="False"}
                                      }, new { @class = "form-control" })
                                    </div>

                                    <div class="row">
                                         <div class="mb-4 col-md-6">

                                       
                                       
                                        @Html.DropDownListFor(model => model.role, new List<SelectListItem> 
                                 
                                            {
            
                                        new SelectListItem { Text="student",Value="student"},
                                        new SelectListItem { Text="admin",Value="admin"},
                                        new SelectListItem { Text="staff",Value="staff"},
                                        new SelectListItem { Text="librarian",Value="librarian"},
                                      
                                        }, new { @class = "form-control" })
                                      </div>
                                      </div>
                                   
                              
                            <div class="col-md-7">
                                <p class="text-center mt-8 text-secondary">If you have account, @Html.ActionLink("Login","Login","student")</p>
                            </div>

                                        
                                       <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">



                                           <input type="submit" value="Register" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">
                                        </div>
                                        <!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">



     <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>



     <!-- Modal body -->
      <div class="modal-body">
        Data inserted Sucessfully
      </div>



     <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">SaveData</button>
      </div>



   </div>
  </div>
</div>                     
                                          
                                        
                            }
                                   </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                
</body>
</html>
