
@using MVCcoreWebAppHTD1.Models
@model resetpasswordmodel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
     <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="mb-4">
   
                <h5>Forgot Password?</h5>
                <p class="mb-2">Enter your registered email ID to reset the password
                </p>
              </div>
              @using (Html.BeginForm("forgotpassword","student",FormMethod.Post,new{@class="form-horizontal",role="form"}))
        {
             @Html.AntiForgeryToken()
                <div class="mb-3">
                  <label for="email" class="form-label"> EMAILID</label>
                   @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", placeholder="Enter Your EmailiD" })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">NEW Password</label>
                   @Html.TextBoxFor(model => model.Newpassword, new { @class = "form-control", placeholder="Confirm Password" })
                    @Html.ValidationMessageFor(model => model.Newpassword, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">CONFIRM PASSWORD</label>
                   @Html.TextBoxFor(model => model.Confirmpassword, new { @class = "form-control", placeholder="Reset Code" })
                    @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3 d-grid">
                  <button type="submit" class="btn btn-primary">
                    Reset Password
                  </button>
                </div>
             
           } 
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>

